$purple: #413f8d;
$purple-dark: #292859;
$teal: #00a690;

@import "fonts";

.keys-row {
  display: flex;

  .key-wrapper {
    display: none;
    margin-left: 20px;
  }
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#revision {
  position: absolute;
  top: 20;
  right: 20;
}

.mui-btn {
  color: white;
  background-color: $purple;

  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: $purple-dark;
  }
}

.mui-textfield input,
.mui-select select {
  &:focus,
  &:active {
    border-bottom-color: $teal;

    + label {
      color: $teal;
    }
  }
}

.mui-select:focus select {
  border-bottom-color: $teal;

  + label {
    color: $teal;
  }
}

.mdtoast {
  &.mdt--WARNING {
    background-color: #EF5350;
  }
}
