$purple: #413f8d;
$purple-dark: #292859;
$teal: #00a690;

@import "fonts";

.mui-container {
  position: relative;
}

.keys-row {
  @media not print {
    display: flex;
    justify-content: space-around;
  }

  .key-wrapper {
    display: none;
    margin-left: 20px;

    h3 {
      text-align: center;
    }

    @media print {
      width: 100%;
      h3 {
        page-break-before: always;
        margin-bottom: 50px;
      }

      svg {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        height: auto;
      }
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;

  #revision {
    position: absolute;
    top: 10;
    right: 10;
  }
}

.mui-btn {
  color: white;
  background-color: $purple;

  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: $purple-dark;
  }
}

.mui-textfield input,
.mui-select select {
  text-align: center;

  &:focus,
  &:active {
    border-bottom-color: $teal;

    + label {
      color: $teal;
    }
  }
}

.mui-select:focus select {
  border-bottom-color: $teal;

  + label {
    color: $teal;
  }
}

.mdtoast {
  &.mdt--WARNING {
    background-color: #ef5350;
  }
}

#print-btn-wrapper {
  text-align: center;
  display: none;
  margin-top: 32px;

  @media print {
    display: none !important;
  }
}
